body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #11183e;
    /*align-items: center;*/
    justify-content: center;
}
.sidebar{
    height: 100vh;
    min-height: 500px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #11183e;
    overflow: hidden;
    transition: width 0.2s;
}

.sidebar:hover ~ .map-container {
    left: 62px;
    width: calc(100% - 200px);
}

.sidebar:hover{
    width: 200px;
    overflow: visible;
    z-index: 2;
}

nav{
    margin-top: 20px;
    height: 80vh;
    min-height: 300px;
}


ul{
    margin-left: -15px;
    list-style-type: none;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li a{
    margin-left: -15px;
    text-decoration: none;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 0;
    font-family: 'Poppins', sans-serif;
    color: #cacaca;
}

li a:hover{
    text-decoration: none;
    background-image: linear-gradient(
            to right,
            #2a88e6 7px,
            rgba(255,255,255,0.1) 7px
    );
    color: #ffffff;
}

i.fas{
    padding-left: 10px;
    font-size: 20px;
    text-align: right;
}

i.far{
    padding-left: 10px;
    font-size: 20px;
    text-align: right;
}

.fas fa-search{
    font-size: 20px;
}

#additional_info{
    margin-left: 100px;
    margin-top: 30px ;
}

.sidebar .search-box{
    margin-left: -15px;
    background-color: #11183e;
    text-decoration: none;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 0;
    font-family: 'Poppins', sans-serif;
    color: #cacaca;
}

.search-box input{
    padding: 5px;
    color: white;
    margin-left: 20px;
    background: #11183e;
    margin-right: 20px;
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid antiquewhite;
}

li p{
    padding-left: 30px;
    width: 135px;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0.3px;
}

.map-container {
    float: right;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    width: 95vw;
    height: 95vh;
}

.map{
    height: 95vh;
    margin-top:10px;

}

.inner-div {
    flex:1;
}

.custom-dropdown {
    width: 200px;
}

#map {
    height: 97%;
    padding: 0;
    border: 1px solid white;
    border-radius: 20px;
}

.button-style {
    padding: 7px;
    margin: 5px;
    border: 1px solid #b1834e;
    background-color: #b1834e;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-style:hover {
    border: 1px solid #b1834e;
    background-color: #d2a16a;
}

#info-content{
    margin-left: 20px;
}

.title{
    padding-top: 20px;
    padding-left: 15px;
}

.starText{
    font-size: 14px;
}

.star {
    border: none;
    font-size: 17px;
    color: #797979;
    cursor: pointer;
    margin: 3px;
}

.star:hover,
.star:hover ~ {
    color: #c9a959;
}

.star.hover-1 {
    color: #deb12a;
}

.star.hover-2 {
    color: #deb12a;
}

.star.hover-3 {
    color: #deb12a;
}

.star.hover-4 {
    color: #deb12a;
}

.star.hover-5 {
    color: #deb12a;
}

.star.disabled {
    color: #ccc;
    cursor: not-allowed;
}

#controls {
    padding: 0 15px;
}

.controls-elements {
    padding-left: 5px;
}

.side-menu-texts {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}



